body {
    background-color: #ccc;
}

#navbar {
    position: relative;
    height: 25px;
    background-color: #eee;
    margin-bottom: 10px;
    z-index: 9;
}
ul {
    list-style-type: none;
}

#navbar .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #c0c0c0;
    
    margin: 0;
    padding: 0;
}

#navbar div:hover .dropdown {
/* #navbar div .dropdown { */
    display: block;
    box-shadow: #3334 0 5px 5px;
}

.open-list {
    display: inline-block;
    position: relative;
    top: -1px;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
    background-color: #c0c0c0;
    font-size: 14px;
}

.drop_button:hover {
    border: 1px solid #000;
}


.btn-connect {
    background-color: rgb(100, 194, 130);
    border-radius: 5px;
    font-size: 10px;
    margin-left: 10px;
    padding: 0 10px;
}


#navbar div {
    height: 100%;
}

#navbar li a {
    padding: 6px;
    width: 150px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.container-notifications {
    position: relative;
}

#notifications {
    position: absolute;
    z-index: 10;
    right: 0;
}


.rectangle {
    /* border: 1px solid #333; */
    width: 500px;
    height: 400px;
    background-color: #eee;
}

.content {
    height: 90vh;
}

.functions {
    background-color: #ddd;
    border-radius: 30px;
    padding: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: #3332 0 0 20px;
}

.function-btn {
    border: none;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #3332 0 0 10px;
}

.drone-state {
    font-size: 30px;
}